# Conexión a la base de datos
MONGO_URI=

# Credenciales de administrador
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Configuración de OAuth con GitHub
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Puerto en el que se ejecutará la aplicación (opcional)
PORT=
