/* /public/css/style.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header.main-header {
    background-color: #98d2ff;
    color: #fff;
    padding: 1rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow:wrap;
}

header.main-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

header.main-header .main-nav {
    display: flex;
    align-items: center;
}

header.main-header .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    border-radius: 5px;
}

header.main-header .nav-link:hover {
    background-color: #0056b3;
}

header.main-header .cart-link {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

header.main-header .cart-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

main {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2 {
    margin: 0 0 1rem 0;
}

/* Estilos para header.main-header solo en dispositivos móviles */
@media only screen and (max-width: 600px) {
    header.main-header {
        background-color: #98d2ff;
        color: #fff;
        padding: 1rem;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap;
    }
}

/* Estilos específicos para el formulario */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-top: 1rem;
}

/* Github */
.github-container {
    margin-top: 1rem;
}

.github-btn {
    display: inline-flex;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.github-logo {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.github-btn:hover {
    background-color: #555;
}

footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    background-color: #98d2ff;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos específicos para la página de productos */
.products-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.product-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    width: calc(100% - 2rem); /* Una columna para dispositivos móviles */
}

@media (min-width: 600px) {

    .product-item {
        width: calc(50% - 2rem); /* Dos columnas para dispositivos más grandes */
    }
}

.product-item h2 {
    margin: 0 0 0.5rem 0;
}

.product-item p {
    margin: 0.5rem 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 0.5rem;
}

.pagination button:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la página del carrito */
.cart-container {
    max-width: 800px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container h1 {
    color: #007BFF;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.cart-item {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    text-align: left;
    font-size: 1.1rem;
    color: #333;
}

.cart-item strong {
    font-weight: bold;
    color: #007BFF;
}

.purchase-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.purchase-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

/* cartDetails Styles */
.cart-products {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.cart-product-item span {
    flex: 1;
    margin: 0 10px;
}

.remove-product-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 8%;
}

.remove-product-btn:hover {
    background-color: #ff0000;
}

/* Estilos específicos para el ticket de compra */
.ticket-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    text-align: center;
}

.ticket-container h1 {
    color: #007BFF;
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

.ticket-container h2 {
    color: #28a745;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.ticket-container p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #333;
}

.ticket-container p.pticket {
    font-weight: bold;
    color: #000;
}

.ticket-container ul {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    text-align: left;
}

.ticket-container ul li {
    background-color: #f9f9f9;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    color: #333;
    font-size: 1.1rem;
}

.ticket-container strong {
    font-weight: bold;
    color: #333;
}

.ticket-container a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.ticket-container a:hover {
    background-color: #0056b3;
}

/* Estilos específicos para la página de administración de usuarios */
.admin-users-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-users-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.admin-users-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-users-table thead {
    background-color: #333;
    color: #fff;
}

.admin-users-table th, .admin-users-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-users-table tbody tr {
    background-color: #f9f9f9;
}

.admin-users-table tbody tr:hover {
    background-color: #f1f1f1;
}

.admin-users-table td {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.admin-users-table td:last-child {
    display: flex;
    justify-content: space-around;
}

.admin-users-table button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-users-table .edit-user {
    background-color: #4CAF50;
    color: white;
}

.admin-users-table .delete-user {
    background-color: #f44336;
    color: white;
}

/* Botón para registrarse */
.btn-registrarse {
    background-color: #808080; /* Color gris */
    color: white;
    padding: 5px 10px; /* Más pequeño */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    text-decoration: none;
    display: inline-block;
    margin-top: 40px;
    width: 25%;
}

.btn-registrarse:hover {
    background-color: #666666; /* Color gris oscuro al pasar el cursor */
}

/* Alertas registrarse */
