<!-- ticket.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket de Compra</title>
</head>
<body>
    <h1>Compra Realizada con Éxito</h1>
    <p>Gracias por su compra!</p>
    <p>Estará recibiendo un correo con los pasos para pagar</p>
    <p>Código de Ticket: {{ticketId}}</p>
    <p>Fecha de Compra: {{purchaseDatetime}}</p>
    <p>Total a Pagar: AR$ {{amount}}</p>
    <p>Purchaser: {{purchaser}}</p>
</body>
</html>
