<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Aplicación</title>
    <!-- Enlace a hojas de estilo CSS -->
    <link rel="stylesheet" href="/css/style.css"> <!-- Asegúrate de tener este archivo en tu carpeta public/css -->
</head>
<body>
    <header>
        <h1>Mi Aplicación Web Prueba</h1>
        <a href="/products" style="display: block; margin: 20px 0; text-align: left;">Volver a Productos</a>
        <!-- Puedes añadir aquí más elementos de navegación -->
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; 2024 Mi Aplicación. Todos los derechos reservados.</p>
    </footer>

    <!-- Enlaces a scripts JS -->
    <script src="/js/script.js"></script> <!-- Asegúrate de tener este archivo en tu carpeta public/js -->
</body>
</html>
